*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #bab7b7fb;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-name);
  font-weight: 600;
}

p {
  font-family: var(--font-name);
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  font-family: var(--font-name);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
